body{
    margin: 0 auto;
}
.nav{
    background-color: #bf0603;
    margin: 0 auto;
}
ul{
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
}
ul>li{
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    margin-left: 70px;
    font-size: 20px;
    
    
}
.link{
    text-decoration: none;
    color: whitesmoke;
    align-items: center;

  
   

}
